<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Margenes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="assets/img/favicon.ico">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#2E3AA1">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Blog">
    <link rel="icon" sizes="192x192" href="assets/img/icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Blog">
    <link rel="apple-touch-icon" href="assets/img/icon-192x192.png">

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="msapplication-TileImage" content="assets/img/icon-192x192.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="sticky-top mb-3" style="background: #fff;border-bottom: 1px solid #f0f0f0;">
            <ul class="nav nav-pills nav-justified pt-3 pb-2" id="tabs">
                <li class="nav-item">
                    <a href="#pvp" class="nav-link active" data-toggle="tab" role="tab">PVP</a>
                </li>
                <li class="nav-item">
                    <a href="#margen" class="nav-link" data-toggle="tab" role="tab">Margenes</a>
                </li>
                <li class="nav-item">
                    <a href="#bonus" class="nav-link" data-toggle="tab" role="tab">Bonificaciones</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="pvp" role="tabpanel">
                <div class="form-row">
                    <div class="col">
                        <label for="pvp_iva">IVA</label>
                        <select class="custom-select" v-model="iva" id="pvp_iva">
                            <option value="1.045">4%</option>
                            <option value="1.114">10%</option>
                            <option value="1.262">21%</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="pvp_pvl">PVL (€)</label>
                        <input type="number" v-model="pvl" id="pvp_pvl" class="form-control" placeholder="PVL">
                    </div>
                    <div class="col">
                        <label for="pvp_margen">Margen (%)</label>
                        <input type="number" v-model="margen" id="pvp_margen" class="form-control" placeholder="Margen">
                    </div>
                </div>

                <hr class="mb-5">

                <div class="form-group">
                    <h1>PVP <span class="badge badge-warning" v-text="pvp">-</span></h1>
                </div>
                <div class="form-group">
                    <h1>Ganancia <span class="badge badge-success" v-text="ganancia">-</span></h1>
                </div>
            </div>

            <div class="tab-pane fade" id="margen" role="tabpanel">
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="margen_iva">IVA</label>
                        <select class="custom-select" v-model="iva" id="margen_iva">
                            <option value="1.045">4%</option>
                            <option value="1.114">10%</option>
                            <option value="1.262">21%</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="margen_pvl">PVL (€)</label>
                        <input type="number" v-model="pvl" id="margen_pvl" class="form-control" placeholder="PVL">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="margen_dto">Descuento (%)</label>
                        <input type="number" v-model="dto" id="margen_dto" class="form-control" placeholder="Descuento">
                    </div>
                    <div class="col">
                        <label for="margen_pvp">PVP (€)</label>
                        <input type="number" v-model="pvp" id="margen_pvp" class="form-control" placeholder="PVP">
                    </div>
                </div>

                <hr class="mb-5">

                <div class="form-group">
                    <h1>PVL final <span class="badge badge-warning" v-text="pvl_final">-</span></h1>
                </div>
                <div class="form-group">
                    <h1>Margen <span class="badge badge-warning" v-text="margen">-</span></h1>
                </div>
                <div class="form-group">
                    <h1>Ganancia <span class="badge badge-success" v-text="ganancia">-</span></h1>
                </div>
            </div>

            <div class="tab-pane fade" id="bonus" role="tabpanel">
                <div class="form-row">
                    <div class="col">
                        <label for="bonus_uds">Unidades</label>
                        <input type="number" v-model="uds" id="bonus_uds" class="form-control" placeholder="Unidades">
                    </div>
                    <div class="col">
                        <label for="bonus_uds_bonus">Uds bonificacion</label>
                        <input type="number" v-model="uds_bonus" id="bonus_uds_bonus" class="form-control" placeholder="Uds bonificacion">
                    </div>
                </div>

                <hr class="mb-5">

                <div class="form-group">
                    <h1>Uds total <span class="badge badge-warning" v-text="uds_total">-</span></h1>
                </div>
                <div class="form-group">
                    <h1>Descuento <span class="badge badge-success" v-text="dto">-</span></h1>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        (function() {
            if (!('serviceWorker' in navigator)) {
                console.log('Service worker not supported');
                return;
            }
            navigator.serviceWorker.register('service-worker.js')
                .then(function(registration) {
                    console.log('SW successfully registered');
                })
                .catch(function(error) {
                    console.log('registration failed', error);
                });
        })();
    </script>
</body>
</html>